.section2{
    margin-bottom: 90px;
}
.card{
    width: 280px;
}
.group_1{
    width: 307px;
    height: 374px;
    background: black;

}
.dinline{
    text-align: end;
    align-items: flex-end;
}

.pay .paylater:after{
    content:" ";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 150px;
    margin-right: -100%;
    margin-left: 30px;
    border-top: 1px solid black;
}

#More_details {

    width: 72px;
    white-space: nowrap;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0,111,255,1);
}
#n_492780366644 {
    width: 175.333px;

    margin: auto;
}
#PAY_LATER {
        white-space: nowrap;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(77,79,92,1);
}
#MANUAL {

    width: 46px;
    white-space: nowrap;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(77,79,92,1);
}
#Price_details {

    width: 72px;
    white-space: nowrap;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    padding-top: 8px;
    font-size: 14px;
    color: rgba(0,111,255,1);
}
#Mitsubishi_Mirage_or_similar {

    width: 172px;
    white-space: nowrap;
    line-height: 25px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#Economy {

    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(0,0,0,1);
}
#Per_Day {
    opacity: 0.5;

    width: 45px;
    white-space: nowrap;
    line-height: 22px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(77,79,92,1);
}
#n_5999 {

    width: 55px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(77,79,92,1);
}


#COMPARE_CAR {
background-color: rgba(0,111,255,1);
    white-space: nowrap;
    text-align: center;
    padding: 4px 17px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0;

    color: rgba(255,255,255,1);
}
#SELECT_CAR {
    padding: 4px 17px;

    border: 1px solid rgba(216,216,216,1);
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0;
    color: rgba(67,66,93,1);
}